@import 'styles/vars.scss';

.relation {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $cell) {
        padding: 10px;
    }

    &__hrs {
        display: flex;
        align-items: flex-end;

        font-size: $fontPC * 1.2;

        @media screen and (max-width: $cell) {
            font-size: $fontCell * 1.2;
        }
    }

    &__statistics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 50px;

        
        @media screen and (max-width: $cell) {
            grid-template-rows: 25px 25px;
        }
    
        & > div {
            width: 100%;
            height: 100%;
    
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            font-size: $fontPC * 0.9;
    
            @media screen and (max-width: $cell) {
                font-size: $fontCell * 0.9;
            }
        }
    }
}
