// colors:
$black: #000;
$white: #f6f6f6;
$blue: #3a6af9;
$grey: #3e464e;
$light-grey: #90a0b0;
$green: #25c025;
$red: #d11d1d;

//size:
$fontPC: 20px;
$fontCell: 10px;
$headerHeightPC: 100px;
$headerHeightCell: 50px;

//screens:
$cell: 500px;
