@import 'styles/vars.scss';

.logo {
    display: flex;
    align-items: flex-end;

    &__logoType {
        width: 70px;

        @media screen and (max-width: $cell) {
            width: 35px;
        }
    }

    &__title {
        font-weight: 900;
        color: $white;
        font-size: $fontPC * 2;
        
        @media screen and (max-width: $cell) {
            width: 35px;
            font-size: $fontCell * 2;
        }
    }
}
