@import 'styles/vars';

Header {
    display: flex;
    align-items: center;
    padding: 10px;

    width: 100vw;
    height: $headerHeightPC;
    background-color: $blue;

    @media screen and (max-width: $cell) {
        height: $headerHeightCell;
    }
}
