@import 'styles/vars.scss';

.initial {
    display: flex;
    height: calc(100vh - $headerHeightPC);
    
    &__relation {
        width: 50%;
        border-right: 1px solid $light-grey;
    }
    
    &__addRelation {
        width: 50%;
    }
}
